@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul .hover-effect li{
    @apply  hover:text-hover-black dark:hover:text-hover-light;
}

.makeCenter{
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}

.sect{
    @apply w-full bg-gray-600 h-96 mb-4;
}

html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: rgb(153, 157, 172);
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(13, 20, 56);
}