@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul .hover-effect li{
    @apply  hover:text-hover-black dark:hover:text-hover-light;
}

.makeCenter{
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}

.sect{
    @apply w-full bg-secondary-light dark:bg-secondary-dark h-96 my-4 flex items-center justify-center;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-track{
   @apply bg-secondary-light dark:bg-secondary-dark;
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(120, 118, 143);
    border-radius: 10px;
}